//
    accounts.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

- var content = {headline:"ページリスト", save:"保存", add:"追加...", update:"更新...", delete:"削除", up:"Up", down:"Down" }

md-content.background
    md-progress-circular.md-accent(ng-show="progress", md-mode="indeterminate", style="position:absolute;top:50%;left:50%;")
    md-card.box-edge
        md-card-content.layout-padding
            h1.md-headline(ng-bind="Title")
            md-button.md-fab(ng-click="DepartmentUpdate()", aria-label="", style="background-color:#FF1744;z-index:1;", ng-if="type != 'Viewer'")
                ng-md-icon.department-button1-icon(icon="save", aria-label="", size="42")
                md-tooltip #{content.save}
            md-button.md-fab(ng-click="showPageCreateDialog()", aria-label="", style="background-color:#FFB300;z-index:1;", ng-if="type != 'Viewer'")
                ng-md-icon.department-button1-icon(icon="note_add", aria-label="", size="42")
                md-tooltip #{content.add}

    md-list(hide-gt-xs)
        md-list-item(ng-repeat="Page in Pages", ng-show="account.type != 'Admin'")
            md-card(layout="row", flex)
                md-card-content(layout="column", layout-align="end center", flex)
                    div(layout="row")
                        h1.md-subhead(flex, ng-bind="Page.headline")

                    div(layout="row")

                        div(layout="row", ng-show="type != 'Viewer'")
                            md-button.md-fab.md-mini(ng-click="up($index)", aria-label="Up", style="background-color:#64ffda;z-index:1;", ng-if="type != 'Viewer'")
                                ng-md-icon.department-button2-icon(icon="keyboard_arrow_up", size="22")
                                md-tooltip #{content.up}

                        div(layout="row", ng-show="type != 'Viewer'")
                            md-button.md-fab.md-mini(ng-click="down($index)", aria-label="Down", style="background-color:#69F0AE;z-index:1;", ng-if="type != 'Viewer'")
                                ng-md-icon.department-button2-icon(icon="keyboard_arrow_down", size="22")
                                md-tooltip #{content.down}

                        div(layout="row", ng-show="type != 'Viewer'")
                            md-button.md-fab.md-mini(ng-click="PageUpdate($index)", aria-label="Update", style="background-color:#4527A0;z-index:1;")
                                ng-md-icon.department-button1-icon(icon="mode_edit", size="22")
                                md-tooltip #{content.update}

                        div(layout="row", ng-show="type != 'Viewer'")
                            md-button.md-fab.md-mini(ng-click="showPageDeleteDialog($index)", aria-label="Delete", style="background-color:#ff5050;z-index:1;", ng-if="type != 'Viewer'")
                                ng-md-icon.department-button1-icon(icon="remove", size="22")
                                md-tooltip #{content.delete}

    md-list(hide-xs)
        md-list-item(ng-repeat="Page in Pages", ng-show="account.type != 'Admin'")
            md-card(layout="row", flex)
                md-card-content(layout="row", layout-align="end center", flex)
                    h3.md-title(flex, ng-bind="Page.headline")

                    div(layout="row", ng-show="type != 'Viewer'")
                        md-button.md-fab(ng-click="up($index)", aria-label="Up", style="background-color:#64ffda;z-index:1;", ng-if="type != 'Viewer'")
                            ng-md-icon.department-button2-icon(icon="keyboard_arrow_up", size="42")
                            md-tooltip #{content.up}

                    div(layout="row", ng-show="type != 'Viewer'")
                        md-button.md-fab(ng-click="down($index)", aria-label="Down", style="background-color:#69F0AE;z-index:1;", ng-if="type != 'Viewer'")
                            ng-md-icon.department-button2-icon(icon="keyboard_arrow_down", size="42")
                            md-tooltip #{content.down}

                    div(layout="row", ng-show="type != 'Viewer'")
                        md-button.md-fab(ng-click="PageUpdate($index)", aria-label="Update", style="background-color:#4527A0;z-index:1;")
                            ng-md-icon.department-button1-icon(icon="mode_edit", size="42")
                            md-tooltip #{content.update}

                    div(layout="row", ng-show="type != 'Viewer'")
                        md-button.md-fab(ng-click="showPageDeleteDialog($index)", aria-label="Delete", style="background-color:#ff5050;z-index:1;", ng-if="type != 'Viewer'")
                            ng-md-icon.department-button1-icon(icon="remove", size="42")
                            md-tooltip #{content.delete}