//
    registerdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

- var content = {headline:"問診票登録", cancel:"キャンセル", group:"診療科名", depertment:"問診票名", save:"登録", required:"必ず入力してください", toolong:"もうすこし短くしてください"  }

md-dialog.box-edge(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) #{content.headline}
            div
                md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                    ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
                    md-tooltip #{content.cancel}

    md-dialog-content.layout-padding
        ng-form(name="validate")
            div(layout="row", layout-align="start center")
                ng-md-icon.iconfill(icon="account_circle", size="46")
                md-input-container(flex)
                    label #{content.depertment}
                    input(ng-model="items.department", data-ng-required="true", name="department", placeholder='Enter Department name', md-maxlength="30", required)
                    div(ng-messages="validate.department.$error")
                        h6(ng-message="required") #{content.required}
                        h6(ng-message="md-maxlength") #{content.toolong}

            div(layout="row", layout-align="start center")
                ng-md-icon.iconfill(icon="account_circle", size="46")
                md-input-container(flex)
                    label #{content.group}
                    input(ng-model="items.group", data-ng-required="true", name="group", placeholder='Enter group', md-maxlength="30", required)
                    div(ng-messages="validate.group.$error")
                        h6(ng-message="required") #{content.required}
                        h6(ng-message="md-maxlength") #{content.toolong}

    md-dialog-actions(layout="row")
                md-button.md-raised.md-primary(ng-click='answer()', ng-disabled="validate.$invalid && hasname()", aria-label="") #{content.save}
                md-tooltip #{content.save}