//
    accounts.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

- var content = { stuff:"スタッフ", add:"追加...",update:"更新", save:"保存", delete:"削除", cancel:"キャンセル", changepass:"パスワード変更" }

md-content.background
    md-progress-circular.md-accent(ng-show="progress", md-mode="indeterminate", style="position:absolute;top:50%;left:50%;")
    md-card.box-edge
        md-card-content.layout-padding
            h1.md-headline #{content.stuff}
            md-button.md-fab.md-accent(ng-click="showRegisterDialog()", ng-if="type != 'Viewer'", aria-label="")
                ng-md-icon(icon="person_add", aria-label="#{content.stuff}", style="position:relative;top:6px;left:1px;fill:#abcdef", size="42")
                md-tooltip #{content.add}

    md-list(hide-gt-xs)
        md-list-item(ng-repeat="account in accounts")
            md-card(layout="row", flex)
                md-card-content(layout="row", layout-align="center center", flex)
                    h1.md-subhead(flex, ng-bind="account.username")

                    div(layout="row", ng-if="type == 'Viewer'")
                        ng-md-icon(icon="person", style="{{account.type | rgb}}", size="50")

                    div(layout="row", ng-if="type != 'Viewer'")
                        md-button.md-fab.md-mini(ng-click="showAccountUpdateDialog(account._id)", aria-label="Update", layout-align="center center",style="background-color:#4527A0;z-index:1;")
                            ng-md-icon(icon="person", style="position:relative;top:4px;left:1px;{{account.type | rgb}}", size="22")
                            md-tooltip #{content.update}

                    div(layout="row")
                        md-button.md-fab.md-mini(ng-click="showAccountDeleteDialog(account._id)", aria-label="Delete", ng-if="type != 'Viewer'", layout-align="center center" ,style="background-color:#ff5050;z-index:1;")
                            ng-md-icon(layout-align="center center", icon="remove", style="position:relative;top:6px;left:1px;fill:#ffffff", size="22")
                            md-tooltip #{content.delete}

    md-list(hide-xs)
        md-list-item(ng-repeat="account in accounts")
            md-card(layout="row", flex)
                md-card-content(layout="row", layout-align="center center", flex)
                    h3.md-title(flex, ng-bind="account.username")

                    div(layout="row", ng-if="type == 'Viewer'")
                        ng-md-icon(icon="person", style="{{account.type | rgb}}", size="50")

                    div(layout="row", ng-if="type != 'Viewer'")
                        md-button.md-fab(ng-click="showAccountUpdateDialog(account._id)", aria-label="Update", layout-align="center center",style="background-color:#4527A0;z-index:1;")
                            ng-md-icon(icon="person", style="position:relative;top:4px;left:1px;{{account.type | rgb}}", size="42")
                            md-tooltip #{content.update}

                    div(layout="row")
                        md-button.md-fab(ng-click="showAccountDeleteDialog(account._id)", aria-label="Delete", ng-if="type != 'Viewer'", layout-align="center center" ,style="background-color:#ff5050;z-index:1;")
                            ng-md-icon(layout-align="center center", icon="remove", style="position:relative;top:6px;left:1px;fill:#ffffff", size="42")
                            md-tooltip #{content.delete}